<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{{block "stylesheets"}}}
    
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
  {{{block "scripts"}}}
  </body>
</html>
